
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/test-checkpoint.ipynb
*.tokens
*.zip
*.json
*.arrow
*.raw
merges.txt
.ipynb_checkpoints/preparing data-checkpoint.ipynb
huggingface-transformers
tokenized_*
__pycache__/SeqModel.cpython-38.pyc
*.pyc
batches.pkl
